.image {
    text-align: center;
    margin: 15px;
    border: 1px solid red;
    width: 200px;
    height: 150px;
    justify-content: center;
    background-image: url("https://picsum.photos/id/124/3504/2336");
    color: white;
    border-radius: 10px;
}